* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 80px;
    background-color: #1e172f;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container_logo {
    width: 50%;
    height: auto;
    margin-left: 15rem;
}

nav {
    width: 50%;
    height: auto;
    display: flex;
    gap: 2rem;

}

.options {
    width: auto;
    height: auto;
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    align-items: center;
}

.options a {
    color: #b6b7ba;
}

.options a:hover {
    color: #f1f2f7;
}

nav>button {
    color: #f1f2f7;
    background: linear-gradient(to right, #7e44d5, #0b7bd5);
    border: none;
    width: 8rem;
    height: 3rem;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
}

.product_page {
    width: 100%;
    height: auto;
    display: flex;
}

.information {
    width: 50%;
    height: 38rem;
    background-color: #2e2550;
    color: #f1f2f7;

}

.information>div {
    width: auto;
    height: auto;
    margin-top: 10rem;
    margin-left: 13rem;
    margin-right: 1rem;
}

.information h1 {
    width: 15rem;
    height: auto;
    padding-bottom: 2rem;
    font-size: 4rem;
}

.information p {
    font-size: 1.7rem;
}

.information>div>div {
    width: 20rem;
    height: auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #b6b7ba;
    padding: 3px;
    gap: 0.5rem;
}


.download {
    background-color: #f1f2f7;
    color: #f41888;
    width: 11rem;
    height: 3rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.features {
    width: 8rem;
    border: 1px solid #f1f2f7;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 3rem;
    justify-content: center;
    font-weight: 700;
    color: #b6b7ba;

}

.images{
    background-image: url('img/hojasFondo.jpg');
    width: 50%;
    height: ;
}

.images >img{
    width: 15rem;
    position: relative;
    top: 6rem;
    left: 10rem;
}

.funcionalities{
    width: 100%;
    height: auto;
    background-color: #f1f2f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

.funcionalities>h2{
    color: #f41888;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 3rem;

}

.content_funcionalities{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_img{
    width: 50%;
    height: auto;
    display: flex;
    margin-left: 15rem;
    align-items: center;
}
.container_img>img{
    width: 40rem;
    height: auto;
}

.information_funcionalities{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
}

.information_funcionalities>h3{
    color: #f41888;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.information_funcionalities>p{
    width: 408.9px;
    color: #b6b7ba;
    font-size: 1.5rem;
    text-align: justify;
}

.subtitulo{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.7rem;
    margin-top: 1rem;
    color: #f41888;
    margin-bottom: 0.5rem;

}
.subtitulo>img{
    width: 30px;
    height: 5px;

}


.content_marketing{
    display: flex;
    justify-content: flex-start;
    color: #b6b7ba;
    font-size: 1.5rem;
    gap: 1rem;
    margin-bottom: 0.5rem;

}

.content_marketing>img{
    width: 30px;
}

.plans {
    width: 100%;
    height: auto;
    background-color: #1e172f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans>h2{
    color: #f1f2f7;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 3rem ;
}

.plans>p{
    width: 50%;
    color: #b6b7ba;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.options_plans{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.content_plans{
    background-color: #f1f2f7;
    width: 30%;
    color: #b6b7ba;
    border-radius: 5px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.content_plans>img{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.type_lite{
    color: #f41888;
    font-size: 2rem;
}

.price{
    width: 100%;
    display: flex;
    background-color: #ececec;
    color: #1e172f;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.price>h2{
    font-size: 3rem;
}

.type_other{
    color: #1e172f;
    font-size: 2rem;
}
.information_plans{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

.information_plans>img{
    width: 30px;
}

.content_plans>p{
    text-align: center;
    width: 80%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.subcribe{
    background-color: #ececec;
    width: 100%;
    height: auto;
}

.subcribe a{
    background-color: #1e172f;
    width: 40%;
    height: 40rem;
}