* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 80px;
    background-color: #1e172f;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container_logo {
    width: 50%;
    height: auto;
    margin-left: 15rem;
}

nav {
    width: 50%;
    height: auto;
    display: flex;
    gap: 2rem;

}

.options {
    width: auto;
    height: auto;
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    align-items: center;
}

.options a {
    color: #b6b7ba;
}

.options a:hover {
    color: #f1f2f7;
}

nav>.download {
    color: #f1f2f7;
    background: linear-gradient(to right, #7e44d5, #0b7bd5);
    border: none;
    width: 8rem;
    height: 3rem;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
}

.product_page {
    width: 100%;
    height: auto;
    display: flex;
}

.information {
    width: 50%;
    height: 38rem;
    background-color: #2e2550;
    color: #f1f2f7;

}

.information>div {
    width: auto;
    height: auto;
    margin-top: 10rem;
    margin-left: 13rem;
    margin-right: 1rem;
}

.information h1 {
    width: 15rem;
    height: auto;
    padding-bottom: 2rem;
    font-size: 4rem;
}

.information p {
    font-size: 1.7rem;
}

.information>div>div {
    width: 20rem;
    height: auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #b6b7ba;
    padding: 3px;
    gap: 0.5rem;
}


.download {
    background-color: #f1f2f7;
    color: #f41888;
    width: 11rem;
    height: 3rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.features {
    width: 8rem;
    border: 1px solid #f1f2f7;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 3rem;
    justify-content: center;
    font-weight: 700;
    color: #b6b7ba;

}

.images {
    background-image: url('img/hojasFondo.jpg');
    width: 50%;
    height: auto;
}

.images>img {
    width: 15rem;
    position: relative;
    top: 6rem;
    left: 10rem;
}

.funcionalities {
    width: 100%;
    height: auto;
    background-color: #f1f2f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

.funcionalities>h2 {
    color: #f41888;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 3rem;

}

.content_funcionalities {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_img {
    width: 50%;
    height: auto;
    display: flex;
    margin-left: 15rem;
    align-items: center;
}

.container_img>img {
    width: 40rem;
    height: auto;
}

.information_funcionalities {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
}

.information_funcionalities>h3 {
    color: #f41888;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.information_funcionalities>p {
    width: 408.9px;
    color: #b6b7ba;
    font-size: 1.5rem;
    text-align: justify;
}

.subtitulo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.7rem;
    margin-top: 1rem;
    color: #f41888;
    margin-bottom: 0.5rem;

}

.subtitulo>img {
    width: 30px;
    height: 5px;

}


.content_marketing {
    display: flex;
    justify-content: flex-start;
    color: #b6b7ba;
    font-size: 1.5rem;
    gap: 1rem;
    margin-bottom: 0.5rem;

}

.content_marketing>img {
    width: 30px;
}

.plans {
    width: 100%;
    height: auto;
    background-color: #1e172f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans>h2 {
    color: #f1f2f7;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.plans>p {
    width: 50%;
    color: #b6b7ba;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.options_plans {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.content_plans {
    background-color: #f1f2f7;
    width: 30%;
    color: #b6b7ba;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.content_plans>img {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.type_lite {
    color: #f41888;
    font-size: 2rem;
}

.price {
    width: 100%;
    display: flex;
    background-color: #e7e7e7;
    color: #1e172f;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.price>h2 {
    font-size: 3rem;
}

.type_other {
    color: #1e172f;
    font-size: 2rem;
}

.information_plans {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 0.5rem;

}

.information_plans>.chulo {
    width: 20px;
}
.information_plans>.star {
    width: 20px;
}
.information_plans>.x {
    width: 20px;
}

.content_plans>p {
    text-align: center;
    width: 80%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.subcribe {
    background-color: #ececec;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.subscribe_now {
    background-color: #1e172f;
    display: flex;
    width: 40%;
    height: 3rem;
    color: #f1f2f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.subscribe_lite {
    display: flex;
    width: 40%;
    height: 3rem;
    color: #f1f2f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #f41888;
}

.options_general {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;

}

.options_general>div>h5 {
    text-align: center;
    width: 15rem;
    font-size: 16px;
}

footer {
    width: 100%;
    height: auto;
    background-color: #f1f2f7;
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 0;
    color: #b6b7ba;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    font-size: 1rem;
    gap: .5rem;
}

.explain {
    color: #f41888;
}

.red_social {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.red_social>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 12rem;
}

.red_social>ul>li>a>img {
    width: 25px;
    height: auto;
}

.x{
    width: 10px;
}

.open,.close{
    display: none;
}



@media (max-width: 920px){
    header{
        justify-content: space-evenly;
    }

    nav{
        width: 60%;
    }
    .images{
        display: none;
    }

    .content_funcionalities{
        flex-wrap: wrap;
    }

    .container_img>img {
        width: 20rem;
        margin-bottom: 4rem;
    }
    
 
    .information {
        width: 100%;
        height: 33rem;
    }

    .options_plans {
        flex-direction: column;
    }

    .content_plans{
        width: 60%;
    }

    footer{
        flex-direction: column-reverse;
    }
   .copy{
    margin-bottom: 0.5rem;
   }
    .copy h3{
        font-size: 0.7rem;
    }

    .container_logo{
        width: 40%;
        margin-left: 2rem;
    }

    .red_social>ul{
        margin-right: 9.5rem;
    }
    .container_img{
        margin-left: 0rem;
        justify-content: center;

    }
    .information_funcionalities{
        margin-left: 4rem;
    }

    .information>div {
        margin-left: 5rem;
        margin-top: 7rem;
    }
  
    .options{
        font-size: 0.8rem;
    }

    .content_marketing{
        font-size: 1.2rem;
        align-items: center;
    }
    .information_plans{
        gap: 1rem;
    }
}

@media (max-width: 480px){

    .nav_bar{
        width: auto;
        position: absolute;
        right: 0;
        top: 5rem;
        flex-direction: column;
        align-items: center;
        background-color: #1e172f;
        visibility: hidden;
    }

    .nav_bar.visible{
        visibility: visible;
        opacity: 1;
    }

    .options{
        flex-direction: column;
    }

    .open,.close{
        display: block;
    }
    
    .open{
        background-color: transparent;
        border: none;
    }
    .open>img{
        width: 30px;
        margin-left: 6rem;
        margin-right: 2rem;
    }

    nav>.close{
        width: 3rem;
        background-color: transparent ;
        color: #b6b7ba;
        font-weight: 800;
        border: none;        
    }
    nav>.download{
        margin: 0.5rem;
    }
    .information h1{
        font-size: 2.2rem;
    }
    .information p{
        font-size: 1.5rem;
    }

    .information>div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding: 0 0.5rem 0 0.5rem;
    }

    .options_plans{
        width: 90%;
    }
    .funcionalities>h2{
        font-size: 2.3rem;
    }
    .information_funcionalities{
        width: 70%;
        margin-left: 0;
    }
    .information_funcionalities>h3{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .information_funcionalities>p{
        font-size: 1.5rem;
        width: 100%;

    }
    .plans>h2{
        font-size: 2.6rem;
    }

    .plans>p{
        width: 80%;
    }

    .content_plans{
        width: 90%;
    }
    .information_plans{
        gap: 0;
    }
    .subscribe_now,.subscribe_lite{
        width: 50%;
    }
   .copy{
       width: 98%;
   }
   .red_social>ul {
    margin-right: 1rem;
   }
   .container_img>img {
    width: 90%;
   }

}
